/* Stili per il tema scuro */
body.dark-theme {
    background-color: #27374d ;
    color: #dde6ed;
}

/* Aggiungi altri stili specifici per il tema scuro qui */
/* 1piu scuro 27374d  2 526d82 3 9db2bf 4 dde6ed*/



.container{
    header{
    background-color: #526d82 ;
    }
}


.nav-link {
    font-family: 'Verdana';
    color: #dde6ed;
    text-decoration: none;
}

.nav-link:hover {
    color: #9db2bf;
}

#Pulsante1 {
    background-color: #9db2bf;
    color: #27374d;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: color 0.3s, background-color 0.3s;
}

#Pulsante1:hover {
    background-color: #dde6ed;
    color: #27374d;
}

.form-control{
    background-color:#27374d ;
}

.form-control:focus{
    background-color:#dde6ed ;
    border-color: #9db2bf;
    box-shadow: 0 0 0 0.25rem #9db2bf5f;
}


.form-check-input:focus {
    box-shadow:0 0 0 0.25rem #9db2bf5f;
}

.form-check-input:checked {
    background-color: #27374d;
    border-color: #dde6ed;
}


.form-switch .form-check-input:checked {
    background-image: url('../Immagini/Pulsante1.png');
    --bs-form-switch-bg: none;
}

.form-control {
    color:#dde6ed 
}

.form-select {
    background-color: #27374d;
    color: #dde6ed;
}

.form-select:focus {
    background-color: #dde6ed;
    border-color: #9db2bf;
    color: #000000;
    box-shadow: 0 0 0 0.25rem #9db2bf5f;
    outline: 0;;
}

#tabellaDipendenti{
    --bs-table-bg: none;
    --bs-table-color: #dde6ed;
    --bs-table-striped-color: #dde6ed;
}

.pagination {
    --bs-pagination-bg: #27374d;
    --bs-pagination-disabled-bg: #27374d;
    --bs-pagination-color: #dde6ed;
    --bs-pagination-disabled-color: #dde6ed;
    --bs-pagination-focus-color:#27374d ;
}

.active>.page-link, .page-link.active {
    background-color: #9db2bf;
    border-color: #9db2bf;
}

.page-link:focus {
    box-shadow: 0 0 0 0.25rem #9db2bf5f;
}

.page-link:hover {
    color: #27374d;
}

#Pulsante2 {
    background-color: #9db2bf;
    color: #27374d;
    outline: 0;
}





