#logo1 {
    width: 45px;
    height: auto;
}

#scritta1 {
    width: 250px;
    height: auto;
    margin-left: 20px;
}

@font-face {
    font-family: 'LEMON MILK';
    src: url('../Text/LEMONMILK-Regular.otf') format('opentype'),
}

.nav-link {
    font-size: 14px;
    font-family: 'LEMON MILK', serif;
    font-weight:400;
    color: #000000;
    text-decoration: none;
}

.nav-link:hover {
    color: #00AEEF;
}

.col-md-6 {
    margin-top: 30px;
}


#about {
    text-align: center;
    margin-right: auto;
    margin-top: 30px;
}

#contact {
    text-align: center;
    margin-left: auto;
    margin-top: 30px;
}

#sotto {
    margin-top: 50px;
}

h5 {
    text-align: center;
}

#pulsante1 {
    margin-top: 25px;
}

@media (max-width: 600px) {
    .nav {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }


    header {
        margin-bottom: 250px !important;
    }

    #logo1 {
        align-items: center;
    }

    .form-switch {
        padding-left: 2.5em !important;
        margin-top: 0.5em;
    }

    #about {
        text-align: center;
        margin-right: auto;
        margin-top: 30px;
    }

    #contact {
        text-align: center;
        margin-left: auto;
        margin-top: 50px;
    }
}

.form-group {
    margin-top: 20px;
}

.py-3 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
}

.py-4 {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
}

header {
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 140px;
}

#ScritteNavigazione {
    display: flex;
    justify-content: center;
    align-items: center;
}

hr {
    margin: 0px;
    opacity: .12;
    margin-top: 50px;

}

.my-4 {
    margin-top: 0rem !important;
    margin-bottom: 0rem !important;
}

#Sotto {
    padding: 0px !important;
}

#LoginForm {

    padding-left: 12px;
    padding-right: 12px;
}

#Pulsante2 {
    background-color: #00AEEF;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: color 0.3s, background-color 0.3s;
    margin-top: 25px;
}

#Pulsante2:hover {
    background-color: #71ccee;
    color: #ffffff;
}

.form-control:focus {
    border-color: #00AEEF;
    box-shadow: 0 0 0 0.25rem #00afef64;
}

.mb-3 {
    margin-bottom: 0rem !important;
}

.LogForm {
    margin-top: 20px;
}

.container {
    header {
        background-color: #ffffff;
    }
}

.form-check-input:focus {
    box-shadow: 0 0 0 0.25rem #00afef64;
    border-color: #00AEEF;
}

.form-switch .form-check-input:focus {
    background-image: url('../Immagini/Pulsante2.png');
    --bs-form-switch-bg: none;
}

.form-switch .form-check-input {
    background-image: url('../Immagini/Pulsante3.png');
    --bs-form-switch-bg: none;
}

.form-switch {
    justify-content: center;
    align-items: center;
    padding-left: 3.5em;
}

.table>:not(caption)>*>* {
    box-shadow: none;
}

.active>.page-link,
.page-link.active {
    background-color: #00AEEF;
    border-color: #00AEEF;
}

.pagination {
    --bs-pagination-color: #00AEEF;
}

.form-select:focus {
    border-color: #00AEEF;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #00afef64;
}

#dataTable {
    max-width: 1300px !important;
    box-sizing: border-box;
}

.pt-5 {
    padding-top: 0rem !important;
}

@media only screen and (max-width: 600px) {

    /*faccio sparire tutta la colonna numero 3 (codice fiscale) con nth-child*/
    /*nth-child seleziona gli elementi figli in base alla loro posizione tra tutti gli elementi fratelli all'interno di un elemento genitore*/

    /*seleziono un'elemento TABLE che ha come classe la "tabellaDipenti"*/
    /*th si riferisce agli elementi <th> cioè la prima riga della colonna in questo caso "codice fiscale"*/
    table#tabellaDipendenti th:nth-child(3),

    /*td si riferisce agli elementi*/
    table#tabellaDipendenti td:nth-child(3) {
        display: none;
    }
}


@media (max-width: 1050px) {
    header {
        margin-bottom: 180px !important;
    }
}

@media (max-width: 800px) {

    #footer {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    header {
        margin-bottom: 200px !important;
    }

    .h1,
    h1 {
        font-size: calc(1.325rem + .9vw) !important;
    }
}


@media (max-width: 600px) {

    #footer {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    #tabellaDipendenti {
        font-weight: 480;
    }

    header {
        margin-bottom: 330px !important;
    }

    .h1,
    h1 {
        font-size: calc(1.325rem + .9vw) !important;
    }
}

@media (max-width: 450px) {

    #footer {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    #tabellaDipendenti {
        font-size: 13.5px;
        font-weight: 480;
    }

    header {
        margin-bottom: 330px !important;
    }

    .h1,
    h1 {
        font-size: calc(1.325rem + .9vw) !important;
    }
}

@media (max-width: 420px) {

    #footer {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    #tabellaDipendenti {
        font-size: 13.5px;
        font-weight: 480;
    }

    header {
        margin-bottom: 350px !important;
    }

    .h1,
    h1 {
        font-size: calc(1.325rem + .9vw) !important;
    }
}

@media (max-width: 400px) {

    #footer {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    #tabellaDipendenti {
        font-size: 12.5px;
        font-weight: 480;
    }

    header {
        margin-bottom: 340px !important;
    }

    .h1,
    h1 {
        font-size: calc(1.325rem + .9vw) !important;
    }
}

@media (max-width: 380px) {

    #footer {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    #tabellaDipendenti {
        font-size: 11.5px;
        font-weight: 480;
    }

    header {
        margin-bottom: 340px !important;
    }

    .h1,
    h1 {
        font-size: calc(1.325rem + .9vw) !important;
    }
}

@media (max-width: 365px) {

    #footer {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    #tabellaDipendenti {
        font-size: 11px;
        font-weight: 480;
    }

    header {
        margin-bottom: 340px !important;
    }

    .h1,
    h1 {
        font-size: calc(1.325rem + .9vw) !important;
    }
}


.h1,
h1 {
    font-size: 2rem;
}