#logo1 {
    width: 50px;
    height: auto;
}

#scritta1 {
    width: 250px;
    height: auto;
    margin-left: 20px;
}

.nav-link {
    font-family: 'Verdana';
    color: #000000;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #00AEEF;
}

.col-md-6 {
    margin-top: 30px;
}

#about {
    text-align: center;
    margin-right: auto;
    margin-top: 30px;
}

#contact {
    text-align: center;
    margin-left: auto;
    margin-top: 30px;
}

#sotto {
    margin-top: 50px;
}

h5 {
    text-align: center;
}

@media (max-width: 600px) {
    .nav {
        flex-direction: column;
        align-items: center;
    }

    .mb-3 {
        margin-bottom: 0px !important;
    }

    #immagine2 {
        margin-top: 30px;
    }

    header{
        margin-bottom: 220px !important;
    }

    .form-switch {
        padding-left: 2.5em !important;
        margin-top: 0.2em;
    }

    #about {
        text-align: center;
        margin-right: auto;
        margin-top: 30px;
    }
    
    #contact {
        text-align: center;
        margin-left: auto;
        margin-top: 50px;
    }
}

.py-3 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
}

#contenuto {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
}

.fixed-top {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1030px;
}

#myCarousel {
    margin-bottom: 60px;
}

#ok {
    margin-left: auto;
    margin-right: auto;
    max-width: 550px;

}

header {
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 100px;
}

#ScritteNavigazione {
    display: flex;
    justify-content: center;
    align-items: center;
}

hr{
    margin: 0px;
    opacity: .12
}

#immagine1 {
    display: block;
    margin-right: 100px;
    max-width: 80%;
    height: auto;
    margin-bottom: 60px;
}

#immagine2 {
    display: block;
    margin-left: 100px;
    max-width: 80%;
    height: auto;
    margin-top: 60px;
    margin-bottom: 60px;
}

#immagine3 {
    display: block;
    margin-right: 100px;
    max-width: 80%;
    height: auto;
    margin-top: 60px;
    margin-bottom: 60px;
}

#immagine4 {
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    height: auto;
}

#Paragrafo1{
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: left;
    max-width: 450px;
}

#Titolo1{
    margin-left: 100px;
}

#Paragrafo2{
    margin-right: 100px;
    margin-top: 15px;
    margin-bottom: 50px;
    text-align: right;
    max-width: 500px;
    margin-left: auto;
}

#Titolo2{
    margin-right: 100px;
    text-align: right;
    margin-top: 60px;
}

#Paragrafo3{
    margin-left: 100px;
    margin-top: 15px;
    margin-bottom: 50px;
    text-align: left;
    max-width: 450px;
}

#Titolo3{
    margin-left: 100px;
    text-align: left;
    margin-top: 60px;
}

#Paragrafo4{
    margin-right: 100px;
    margin-top: 15px;
    margin-bottom: 50px;
    text-align: right;
    max-width: 500px;
    margin-left: auto;
}

#Titolo4{
    margin-right: 100px;
    text-align: right;
    margin-top: 60px;
}

#Titolo1Car{
    text-align: center;
    margin-bottom: 30px;
}

#Titolo2Car{
    text-align: center;
    margin-bottom: 30px;
}

#Titolo3Car{
    text-align: center;
    margin-bottom: 30px;
}

.container {
    header {
        background-color: #ffffff;
    }
}

.form-check-input:focus {
    box-shadow: 0 0 0 0.25rem #00afef64;
    border-color: #00AEEF;
}

.form-switch .form-check-input:focus {
    background-image: url('../Immagini/Pulsante2.png');
    --bs-form-switch-bg: none;
}

.form-switch .form-check-input {
    background-image: url('../Immagini/Pulsante3.png');
    --bs-form-switch-bg: none;
}

.form-switch {
    justify-content: center;
    align-items: center;
    padding-left: 3.5em;
}







